In [76]:
import numpy as np
import pandas as pd

In [77]:
DF1B = pd.read_csv(r'Datasets\City_MedianRentalPrice_1Bedroom.csv')
DF2B = pd.read_csv(r'Datasets\City_MedianRentalPrice_2Bedroom.csv')
DF3B = pd.read_csv(r'Datasets\City_MedianRentalPrice_3Bedroom.csv')
DF4B = pd.read_csv(r'Datasets\City_MedianRentalPrice_4Bedroom.csv')

In [78]:
DF1B.columns

Index(['Unnamed: 0', 'RegionName', 'State', 'Metro', 'CountyName', 'SizeRank',
       '2010-02', '2010-03', '2010-04', '2010-05',
       ...
       '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08',
       '2019-09', '2019-10', '2019-11', '2019-12'],
      dtype='object', length=125)

In [79]:
DF1B.drop(columns=['SizeRank','Unnamed: 0'],inplace=True)
DF2B.drop(columns=['SizeRank','Unnamed: 0'],inplace=True)
DF3B.drop(columns=['SizeRank','Unnamed: 0'],inplace=True)
DF4B.drop(columns=['SizeRank','Unnamed: 0'],inplace=True)

In [80]:
DF1B.insert(4, 'Bedrooms', 1)
DF2B.insert(4, 'Bedrooms', 2)
DF3B.insert(4, 'Bedrooms', 3)
DF4B.insert(4, 'Bedrooms', 4)

In [81]:
frames = [DF1B,DF2B,DF3B,DF4B]
result = pd.concat(frames)
result = result.sample(frac=1) #Shuffle!
result = result.reset_index(drop=True) #Reset Index

In [87]:
result

,RegionName,State,Metro,CountyName,Bedrooms,2010-02,2010-03,2010-04,2010-05,2010-06,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,Lancaster,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,3,NaN,NaN,NaN,NaN,NaN,...,1800.0,1767.5,1800.0,1850.0,1875.0,1800.0,1821.5,1850.0,1842.5,1800.0
1,Aventura,FL,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,1,NaN,NaN,NaN,NaN,NaN,...,1690.0,1699.0,1680.0,1690.0,1694.5,1700.0,1700.0,1700.0,1690.0,1700.0
2,Hamden,CT,New Haven-Milford,New Haven County,2,NaN,NaN,NaN,NaN,NaN,...,1395.0,1425.0,1500.0,1600.0,1601.0,1595.0,1561.0,1525.0,1539.0,1525.0
3,Warwick,RI,Providence-Warwick,Kent County,2,NaN,NaN,NaN,NaN,NaN,...,1429.0,1462.5,1448.0,1504.0,1579.0,1569.0,1450.0,1450.0,1450.0,1500.0
4,Loveland,CO,Fort Collins,Larimer County,1,NaN,NaN,NaN,NaN,NaN,...,1238.0,1269.0,1281.0,1344.0,1235.0,1288.5,1291.0,1264.0,1432.5,1326.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3384,Dundalk,MD,Baltimore-Columbia-Towson,Baltimore County,1,NaN,NaN,NaN,NaN,NaN,...,933.0,913.0,909.0,909.0,880.0,857.5,880.0,906.0,907.0,850.0
3385,Ocala,FL,Ocala,Marion County,2,NaN,NaN,NaN,NaN,NaN,...,999.0,995.0,1099.0,1100.0,1099.0,1050.0,1000.0,1000.0,1050.0,1000.0
3386,Goshen,IN,Elkhart-Goshen,Elkhart County,3,NaN,NaN,NaN,NaN,NaN,...,915.0,875.0,875.0,899.0,979.0,929.0,899.0,899.5,902.0,899.0
3387,Oceanside,CA,San Diego-Carlsbad,San Diego County,2,NaN,NaN,NaN,NaN,NaN,...,1915.0,1995.0,1985.0,1985.0,2000.0,2012.0,2040.0,2005.0,2000.0,2045.0
3388,Murrieta,CA,Riverside-San Bernardino-Ontario,Riverside County,1,NaN,NaN,NaN,NaN,NaN,...,1460.0,1519.0,1512.0,1589.0,1579.0,1547.5,1500.0,1494.5,1497.5,1508.0

In [89]:
result.to_csv(r'Datasets\City_MedianRentalPrice_AllHomes.csv',index=False)

In [91]:
result = pd.read_csv(r'Datasets\City_MedianRentalPrice_AllHomes.csv')
result

,RegionName,State,Metro,CountyName,Bedrooms,2010-02,2010-03,2010-04,2010-05,2010-06,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,Lancaster,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,3,NaN,NaN,NaN,NaN,NaN,...,1800.0,1767.5,1800.0,1850.0,1875.0,1800.0,1821.5,1850.0,1842.5,1800.0
1,Aventura,FL,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,1,NaN,NaN,NaN,NaN,NaN,...,1690.0,1699.0,1680.0,1690.0,1694.5,1700.0,1700.0,1700.0,1690.0,1700.0
2,Hamden,CT,New Haven-Milford,New Haven County,2,NaN,NaN,NaN,NaN,NaN,...,1395.0,1425.0,1500.0,1600.0,1601.0,1595.0,1561.0,1525.0,1539.0,1525.0
3,Warwick,RI,Providence-Warwick,Kent County,2,NaN,NaN,NaN,NaN,NaN,...,1429.0,1462.5,1448.0,1504.0,1579.0,1569.0,1450.0,1450.0,1450.0,1500.0
4,Loveland,CO,Fort Collins,Larimer County,1,NaN,NaN,NaN,NaN,NaN,...,1238.0,1269.0,1281.0,1344.0,1235.0,1288.5,1291.0,1264.0,1432.5,1326.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3384,Dundalk,MD,Baltimore-Columbia-Towson,Baltimore County,1,NaN,NaN,NaN,NaN,NaN,...,933.0,913.0,909.0,909.0,880.0,857.5,880.0,906.0,907.0,850.0
3385,Ocala,FL,Ocala,Marion County,2,NaN,NaN,NaN,NaN,NaN,...,999.0,995.0,1099.0,1100.0,1099.0,1050.0,1000.0,1000.0,1050.0,1000.0
3386,Goshen,IN,Elkhart-Goshen,Elkhart County,3,NaN,NaN,NaN,NaN,NaN,...,915.0,875.0,875.0,899.0,979.0,929.0,899.0,899.5,902.0,899.0
3387,Oceanside,CA,San Diego-Carlsbad,San Diego County,2,NaN,NaN,NaN,NaN,NaN,...,1915.0,1995.0,1985.0,1985.0,2000.0,2012.0,2040.0,2005.0,2000.0,2045.0
3388,Murrieta,CA,Riverside-San Bernardino-Ontario,Riverside County,1,NaN,NaN,NaN,NaN,NaN,...,1460.0,1519.0,1512.0,1589.0,1579.0,1547.5,1500.0,1494.5,1497.5,1508.0