In [37]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as mse
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_percentage_error as mape

from sklearn.linear_model import Ridge
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline

In [38]:
# DF = pd.read_csv(r'Datasets\City_MedianRentalPrice_AllHomes.csv')
DF = pd.read_csv(r'Datasets/City_MedianRentalPrice_AllHomes_ALTERED.csv')

In [39]:
DF.columns.to_numpy()

array(['RegionName', 'State', 'Metro', 'CountyName', 'Bedrooms',
       '2010-02', '2010-03', '2010-04', '2010-05', '2010-06', '2010-07',
       '2010-08', '2010-09', '2010-10', '2010-11', '2010-12', '2011-01',
       '2011-02', '2011-03', '2011-04', '2011-05', '2011-06', '2011-07',
       '2011-08', '2011-09', '2011-10', '2011-11', '2011-12', '2012-01',
       '2012-02', '2012-03', '2012-04', '2012-05', '2012-06', '2012-07',
       '2012-08', '2012-09', '2012-10', '2012-11', '2012-12', '2013-01',
       '2013-02', '2013-03', '2013-04', '2013-05', '2013-06', '2013-07',
       '2013-08', '2013-09', '2013-10', '2013-11', '2013-12', '2014-01',
       '2014-02', '2014-03', '2014-04', '2014-05', '2014-06', '2014-07',
       '2014-08', '2014-09', '2014-10', '2014-11', '2014-12', '2015-01',
       '2015-02', '2015-03', '2015-04', '2015-05', '2015-06', '2015-07',
       '2015-08', '2015-09', '2015-10', '2015-11', '2015-12', '2016-01',
       '2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07',
       '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01',
       '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07',
       '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01',
       '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07',
       '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01',
       '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07',
       '2019-08', '2019-09', '2019-10', '2019-11', '2019-12'],
      dtype=object)

In [40]:
DF_Filt = DF.iloc[:,-16:-1]
DF_Filt #Contains all numerical we want

mean_series = DF_Filt.mean(axis=1)

DF_Filt['Metro'] = mean_series
DF_Filt['CountyName'] = mean_series

# doing this for two columns makes no sense. Just increasing the importance of the mean in regression.
DF_Filt

,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,Metro,CountyName
0,20000.0,20000.0,18000.0,20000.0,20000.0,21000.0,23000.0,23000.0,23125.0,23000.0,24750.0,22000.0,20250.0,20500.0,20000.0,21241.666667,21241.666667
1,4700.0,4500.0,4497.5,4450.0,4375.0,4390.0,4500.0,4525.0,4695.0,4700.0,4800.0,4650.0,4295.0,4500.0,4500.0,4538.500000,4538.500000
2,1297.5,1300.0,1350.0,1300.0,1300.0,1300.0,1325.0,1300.0,1345.0,1350.0,1400.0,1350.0,1300.0,1300.0,1300.0,1321.166667,1321.166667
3,2050.0,2100.0,2125.0,2125.0,2100.0,2100.0,2100.0,2200.0,2145.0,2100.0,2150.0,2100.0,2060.0,2100.0,2100.0,2110.333333,2110.333333
4,1492.0,1495.0,1520.0,1495.0,1511.0,1510.0,1530.0,1515.0,1500.0,1525.0,1500.0,1500.0,1493.0,1495.0,1483.5,1504.300000,1504.300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3384,1125.0,1150.0,1150.0,1195.0,1200.0,1250.0,1250.0,1250.0,1250.0,1250.0,1200.0,1200.0,1200.0,1200.0,1250.0,1208.000000,1208.000000
3385,1050.0,1000.0,1025.0,955.0,950.0,1000.0,1100.0,1100.0,1187.5,1100.0,1100.0,975.0,1025.0,1100.0,1100.0,1051.166667,1051.166667
3386,1370.0,1285.0,1500.0,1500.0,1395.0,1395.0,1457.5,1450.0,1450.0,1600.0,1500.0,1450.0,1445.0,1300.0,1400.0,1433.166667,1433.166667
3387,1338.0,1345.0,1364.0,1384.5,1392.0,1385.5,1392.0,1384.0,1387.5,1361.0,1389.0,1400.0,1410.0,1398.0,1391.5,1381.466667,1381.466667
3388,1295.0,1225.0,1199.0,1100.0,1140.0,1085.0,1199.0,1200.0,1192.5,1266.0,1323.5,1150.0,1190.0,1132.5,1210.0,1193.833333,1193.833333

In [41]:
for x in DF_Filt.columns.to_numpy():
   sc = StandardScaler()
   DF_Filt[x] = sc.fit_transform(DF_Filt[x].values.reshape(-1,1))
  
DFLblColumns = DF.iloc[:,3:5]
print(DFLblColumns.columns)
for x in DFLblColumns.columns.to_numpy():
   le = LabelEncoder() 
   DF_Filt[x] = le.fit_transform(DFLblColumns[x].values)
# where is region??

Index(['CountyName', 'Bedrooms'], dtype='object')

In [42]:
Y = DF.iloc[:,-1]
scY = StandardScaler()
Y = scY.fit_transform(Y.values.reshape(-1,1))
Y

array([[10.07723225],
       [ 1.48442842],
       [-0.26141108],
       ...,
       [-0.21230935],
       [-0.21503722],
       [-0.31869644]])

In [43]:
X = DF_Filt
X

,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,Metro,CountyName,Bedrooms
0,9.504654,9.456742,8.732925,9.661980,9.538983,10.258951,11.524008,11.481241,11.455805,11.436717,12.439797,11.263626,10.517055,10.412564,10.243046,10.584185,396,2
1,1.532647,1.424943,1.477578,1.431698,1.373722,1.406157,1.485122,1.486698,1.560588,1.565986,1.627763,1.594381,1.431715,1.514487,1.531398,1.506335,91,3
2,-0.240212,-0.233234,-0.213679,-0.235530,-0.233201,-0.240751,-0.237767,-0.257952,-0.238054,-0.240951,-0.214890,-0.244726,-0.273743,-0.265128,-0.267136,-0.242223,130,1
3,0.151875,0.181310,0.202755,0.201125,0.184860,0.185633,0.182781,0.228927,0.191472,0.163587,0.191578,0.173253,0.159028,0.179776,0.182497,0.186673,255,2
4,-0.138869,-0.132189,-0.122332,-0.132320,-0.122938,-0.128825,-0.126526,-0.141642,-0.154834,-0.146559,-0.160694,-0.161130,-0.163842,-0.156683,-0.164002,-0.142694,172,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3384,-0.330093,-0.310961,-0.321146,-0.291104,-0.285459,-0.267400,-0.278466,-0.285001,-0.289061,-0.294890,-0.323281,-0.328322,-0.330687,-0.320741,-0.295238,-0.303727,233,2
3385,-0.369171,-0.388688,-0.388312,-0.418131,-0.416103,-0.400645,-0.359862,-0.366147,-0.322617,-0.375797,-0.377477,-0.453715,-0.430338,-0.376354,-0.379545,-0.388963,57,2
3386,-0.202436,-0.241007,-0.133079,-0.129674,-0.183557,-0.190118,-0.165867,-0.176805,-0.181679,-0.106105,-0.160694,-0.188995,-0.191175,-0.265128,-0.210932,-0.181354,117,3
3387,-0.219110,-0.209916,-0.206156,-0.190806,-0.185124,-0.195181,-0.201410,-0.212510,-0.215236,-0.235018,-0.220851,-0.216861,-0.211105,-0.210627,-0.215709,-0.209452,108,0
3388,-0.241515,-0.272098,-0.294816,-0.341385,-0.316814,-0.355341,-0.306140,-0.312050,-0.319933,-0.286260,-0.256349,-0.356187,-0.336381,-0.358280,-0.317720,-0.311427,106,1

In [44]:
print(X.isnull().sum())
for col in X:
    X.fillna(X[col].median(),inplace=True)
    #X = X.fillna(X[col].median())
print(X.isnull().sum())

2018-09       209
2018-10       144
2018-11       107
2018-12        60
2019-01         0
2019-02         0
2019-03         0
2019-04         0
2019-05         0
2019-06         0
2019-07         0
2019-08         0
2019-09         0
2019-10         0
2019-11         0
Metro           0
CountyName      0
Bedrooms        0
dtype: int64
2018-09       0
2018-10       0
2018-11       0
2018-12       0
2019-01       0
2019-02       0
2019-03       0
2019-04       0
2019-05       0
2019-06       0
2019-07       0
2019-08       0
2019-09       0
2019-10       0
2019-11       0
Metro         0
CountyName    0
Bedrooms      0
dtype: int64

In [45]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

## Linear Regression

In [46]:
model = LinearRegression()
hist = model.fit(X_train,Y_train)
Y_pred = model.predict(X_test)
Y_pred = scY.inverse_transform(Y_pred)
Y_test = scY.inverse_transform(Y_test)

In [47]:
Y_pred.shape

(1017, 1)

In [48]:
err = mse(Y_pred,Y_test,squared=False)
print(err)
print(Y_test.mean())

98.04196338516651
1748.7733529990167

In [49]:
err2 = mape(Y_pred,Y_test)
print(err2)

0.03232081789145604

## Polynomial Interpolation

In [50]:
#model = Pipeline([('poly', PolynomialFeatures(degree=3)),('linear', LinearRegression(fit_intercept=False))])

In [51]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

for count, degree in enumerate([2,3,4,5]):
    model = make_pipeline(PolynomialFeatures(degree), scY, Ridge(alpha=1e-3))
    model.fit(X_train, Y_train)
    Y_pred = model.predict(X_test)
    # err = mse(Y_pred,Y_test,squared=False)
    err = mape(Y_pred,Y_test)
    print("With degree of", degree, "the error is", err)

With degree of 2 the error is 0.42927680542971336
With degree of 3 the error is 0.35696156648047134
With degree of 4 the error is 0.42370773963727465
With degree of 5 the error is 0.27320355124031404