In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as mse
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_percentage_error as mape

In [22]:
DF = pd.read_csv(r'Datasets\City_MedianRentalPrice_AllHomes.csv')

In [23]:
DF.columns.to_numpy()

array(['RegionName', 'State', 'Metro', 'CountyName', 'Bedrooms',
       '2010-02', '2010-03', '2010-04', '2010-05', '2010-06', '2010-07',
       '2010-08', '2010-09', '2010-10', '2010-11', '2010-12', '2011-01',
       '2011-02', '2011-03', '2011-04', '2011-05', '2011-06', '2011-07',
       '2011-08', '2011-09', '2011-10', '2011-11', '2011-12', '2012-01',
       '2012-02', '2012-03', '2012-04', '2012-05', '2012-06', '2012-07',
       '2012-08', '2012-09', '2012-10', '2012-11', '2012-12', '2013-01',
       '2013-02', '2013-03', '2013-04', '2013-05', '2013-06', '2013-07',
       '2013-08', '2013-09', '2013-10', '2013-11', '2013-12', '2014-01',
       '2014-02', '2014-03', '2014-04', '2014-05', '2014-06', '2014-07',
       '2014-08', '2014-09', '2014-10', '2014-11', '2014-12', '2015-01',
       '2015-02', '2015-03', '2015-04', '2015-05', '2015-06', '2015-07',
       '2015-08', '2015-09', '2015-10', '2015-11', '2015-12', '2016-01',
       '2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07',
       '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01',
       '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07',
       '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01',
       '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07',
       '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01',
       '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07',
       '2019-08', '2019-09', '2019-10', '2019-11', '2019-12'],
      dtype=object)

In [24]:
DF_Filt = DF.iloc[:,-16:-1]
DF_Filt #Contains all numerical we want
for x in DF_Filt.columns.to_numpy():
   sc = StandardScaler()
   DF_Filt[x] = sc.fit_transform(DF_Filt[x].values.reshape(-1,1))
  
DFLblColumns = DF.iloc[:,1:5]
print(DFLblColumns.columns)
for x in DFLblColumns.columns.to_numpy():
   le = LabelEncoder() 
   DF_Filt[x] = le.fit_transform(DFLblColumns[x].values)

Index(['State', 'Metro', 'CountyName', 'Bedrooms'], dtype='object')

In [25]:
Y = DF.iloc[:,-1]
scY = StandardScaler()
Y = scY.fit_transform(Y.values.reshape(-1,1))
Y

array([[ 0.01137634],
       [-0.04318115],
       [-0.13865674],
       ...,
       [-0.4801866 ],
       [ 0.14504218],
       [-0.14793152]])

In [26]:
X = DF_Filt
X

,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,State,Metro,CountyName,Bedrooms
0,-0.033096,-0.028553,-0.025612,-0.023818,0.001697,-0.000910,0.019988,-0.005045,0.006239,0.028741,0.042540,0.006061,0.023217,0.040743,0.037771,4,164,231,2
1,-0.030491,-0.026480,-0.041732,-0.023818,-0.024171,-0.028092,-0.039703,-0.042102,-0.058190,-0.057561,-0.055283,-0.049669,-0.045969,-0.042676,-0.047940,9,178,255,0
2,-0.147727,-0.181416,-0.186812,-0.182867,-0.207073,-0.214102,-0.199782,-0.190330,-0.154834,-0.106105,-0.105956,-0.108186,-0.125121,-0.139999,-0.132808,6,196,274,1
3,-0.130011,-0.099025,-0.133079,-0.134967,-0.128686,-0.156007,-0.181333,-0.170043,-0.182753,-0.157886,-0.117879,-0.122676,-0.188328,-0.181709,-0.182830,39,222,202,1
4,-0.286846,-0.226239,-0.219052,-0.250879,-0.233724,-0.273795,-0.284977,-0.274722,-0.272416,-0.244188,-0.304313,-0.279000,-0.278868,-0.285149,-0.192666,5,96,218,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3384,-0.439512,-0.435325,-0.440434,-0.441948,-0.437006,-0.449146,-0.450483,-0.467310,-0.472146,-0.478820,-0.496707,-0.519199,-0.512906,-0.484243,-0.488019,20,19,17,0
3385,-0.473380,-0.443097,-0.455479,-0.418925,-0.442755,-0.453943,-0.414669,-0.422950,-0.370134,-0.375797,-0.378019,-0.411917,-0.444574,-0.431967,-0.407647,9,202,244,1
3386,NaN,NaN,NaN,NaN,-0.468361,-0.481125,-0.460251,-0.487867,-0.490401,-0.484214,-0.443053,-0.479351,-0.502087,-0.487858,-0.490829,15,84,127,2
3387,0.071113,0.105915,0.100661,0.121733,0.098635,0.105686,0.082392,0.118027,0.105567,0.101558,0.110284,0.124210,0.147639,0.126943,0.126293,4,245,356,1
3388,-0.146685,-0.212507,-0.181439,-0.166988,-0.188782,-0.195447,-0.164511,-0.139478,-0.148391,-0.112038,-0.117879,-0.134658,-0.159856,-0.156961,-0.156133,4,234,336,0

In [27]:
print(X.isnull().sum())
for col in X:
    X.fillna(X[col].median(),inplace=True)
    #X = X.fillna(X[col].median())
print(X.isnull().sum())

2018-09       209
2018-10       144
2018-11       107
2018-12        60
2019-01         0
2019-02         0
2019-03         0
2019-04         0
2019-05         0
2019-06         0
2019-07         0
2019-08         0
2019-09         0
2019-10         0
2019-11         0
State           0
Metro           0
CountyName      0
Bedrooms        0
dtype: int64
2018-09       0
2018-10       0
2018-11       0
2018-12       0
2019-01       0
2019-02       0
2019-03       0
2019-04       0
2019-05       0
2019-06       0
2019-07       0
2019-08       0
2019-09       0
2019-10       0
2019-11       0
State         0
Metro         0
CountyName    0
Bedrooms      0
dtype: int64

In [176]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)
model = LinearRegression()
#model = Pipeline([('poly', PolynomialFeatures(degree=3)),('linear', LinearRegression(fit_intercept=False))])
hist = model.fit(X_train,Y_train)

In [177]:
Y_pred = model.predict(X_test)
Y_pred = scY.inverse_transform(Y_pred)
Y_test = scY.inverse_transform(Y_test)

In [178]:
err = mse(Y_pred,Y_test,squared=False)
print(err)
print(Y_test.mean())

145.34124619912478
1756.5521140609637

In [179]:
err2 = mape(Y_pred,Y_test)
print(err2)

0.03343407020369908