In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as mse
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_percentage_error as mape
#from sklearn.model_selection import StratifiedKFold
from sklearn.linear_model import Ridge
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_validate
from sklearn.pipeline import make_pipeline

In [2]:
# DF = pd.read_csv(r'Datasets\City_MedianRentalPrice_AllHomes.csv')
DF = pd.read_csv(r'Datasets/City_MedianRentalPrice_AllHomes.csv')

In [5]:
DF.columns.to_numpy()

array(['RegionName', 'State', 'Metro', 'CountyName', 'Bedrooms',
       '2010-02', '2010-03', '2010-04', '2010-05', '2010-06', '2010-07',
       '2010-08', '2010-09', '2010-10', '2010-11', '2010-12', '2011-01',
       '2011-02', '2011-03', '2011-04', '2011-05', '2011-06', '2011-07',
       '2011-08', '2011-09', '2011-10', '2011-11', '2011-12', '2012-01',
       '2012-02', '2012-03', '2012-04', '2012-05', '2012-06', '2012-07',
       '2012-08', '2012-09', '2012-10', '2012-11', '2012-12', '2013-01',
       '2013-02', '2013-03', '2013-04', '2013-05', '2013-06', '2013-07',
       '2013-08', '2013-09', '2013-10', '2013-11', '2013-12', '2014-01',
       '2014-02', '2014-03', '2014-04', '2014-05', '2014-06', '2014-07',
       '2014-08', '2014-09', '2014-10', '2014-11', '2014-12', '2015-01',
       '2015-02', '2015-03', '2015-04', '2015-05', '2015-06', '2015-07',
       '2015-08', '2015-09', '2015-10', '2015-11', '2015-12', '2016-01',
       '2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07',
       '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01',
       '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07',
       '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01',
       '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07',
       '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01',
       '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07',
       '2019-08', '2019-09', '2019-10', '2019-11', '2019-12'],
      dtype=object)

In [6]:
DF_Filt = DF.iloc[:,-16:-1]
DF_Filt #Contains all numerical we want
for x in DF_Filt.columns.to_numpy():
   #sc = StandardScaler()
   DF_Filt[x] = DF_Filt[x].values.reshape(-1,1)
  
DFLblColumns = DF.iloc[:,1:5]
print(DFLblColumns.columns)
for x in DFLblColumns.columns.to_numpy():
   le = LabelEncoder() 
   DF_Filt[x] = le.fit_transform(DFLblColumns[x].values)

Index(['State', 'Metro', 'CountyName', 'Bedrooms'], dtype='object')

In [7]:
Y = DF.iloc[:,-1]
# scY = StandardScaler()
# Y = scY.fit_transform(Y.values.reshape(-1,1))
Y

0       2650.0
1       2314.0
2       1510.0
3       1500.0
4        855.0
         ...
3384     935.0
3385     757.0
3386    1479.0
3387    2041.0
3388     864.5
Name: 2019-12, Length: 3389, dtype: float64

In [8]:
X = DF_Filt
X

,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,State,Metro,CountyName,Bedrooms
0,2350.0,2325.0,2372.5,2495.0,2572.5,2495.0,2595.0,2422.5,2497.5,2400.0,2500.0,2675.0,2800.0,2400.0,2595.0,31,198,261,1
1,NaN,NaN,2295.0,2295.0,2280.0,2280.0,2280.0,2280.0,2280.0,2300.0,2300.0,2315.0,2315.0,2315.0,2325.0,20,295,321,1
2,1357.0,1385.0,1389.0,1389.0,1433.0,1479.0,1500.0,1521.0,1536.0,1560.0,1556.0,1550.0,1509.0,1526.0,1535.0,3,215,242,2
3,1350.0,1400.0,1425.0,1547.5,1600.0,1725.0,1697.5,1700.0,1600.0,1600.0,1550.0,1500.0,1600.0,1595.0,1500.0,43,166,233,3
4,850.0,850.0,850.0,850.0,850.0,875.0,900.0,877.5,850.0,850.0,887.5,850.0,830.0,850.0,850.0,43,173,176,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3384,880.0,852.0,850.0,850.0,849.0,875.0,875.0,904.5,945.0,927.5,900.0,895.0,900.0,924.0,925.0,17,165,193,0
3385,700.0,725.0,725.0,725.0,723.0,709.0,750.0,750.0,775.0,770.0,750.0,750.0,775.0,785.0,770.0,27,134,290,1
3386,1399.0,1440.0,1440.0,1440.0,1420.0,1420.0,1410.0,1400.0,1430.0,1420.0,1450.0,1442.0,1500.0,1500.0,1467.0,5,71,193,0
3387,1917.0,1887.5,1909.5,1963.0,2004.5,1999.0,1999.0,2019.0,2014.5,2050.0,2095.0,2087.0,2038.0,2065.0,2053.0,20,19,10,1
3388,789.0,759.0,749.0,749.0,710.0,749.0,749.0,710.0,749.0,749.0,849.0,899.0,899.0,869.0,869.0,35,69,265,1

In [9]:
print(X.isnull().sum())
for col in X:
    X.fillna(X[col].median(),inplace=True)
    #X = X.fillna(X[col].median())
print(X.isnull().sum())

2018-09       209
2018-10       144
2018-11       107
2018-12        60
2019-01         0
2019-02         0
2019-03         0
2019-04         0
2019-05         0
2019-06         0
2019-07         0
2019-08         0
2019-09         0
2019-10         0
2019-11         0
State           0
Metro           0
CountyName      0
Bedrooms        0
dtype: int64
2018-09       0
2018-10       0
2018-11       0
2018-12       0
2019-01       0
2019-02       0
2019-03       0
2019-04       0
2019-05       0
2019-06       0
2019-07       0
2019-08       0
2019-09       0
2019-10       0
2019-11       0
State         0
Metro         0
CountyName    0
Bedrooms      0
dtype: int64

In [10]:

# for train_index, test_index in skf.split(X, Y):
#      print("TRAIN:", train_index, "TEST:", test_index)
#      X_train, X_test = X[train_index], X[test_index]
#      Y_train, Y_test = Y[train_index], Y[test_index]

In [11]:
#X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [33]:
model = make_pipeline(StandardScaler(),LinearRegression())
model_temp = LinearRegression() #TESTING
hist = model_temp.fit(X,Y) #Testing
# Y_pred = model.predict(X_test)
# Y_pred = scY.inverse_transform(Y_pred)
# Y_test = scY.inverse_transform(Y_test)
scores = cross_validate(model, X, Y, cv=10,scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_percentage_error'))
meanR2 = np.absolute(scores['test_r2']).mean()
medianR2 = np.median(np.absolute(scores['test_r2']))
meanRMSE = np.absolute(scores['test_neg_root_mean_squared_error']).mean()
medianRMSE = np.median(np.absolute(scores['test_neg_root_mean_squared_error']))
meanMAPE = np.absolute(scores['test_neg_mean_absolute_percentage_error']).mean()
medianMAPE = np.median(np.absolute(scores['test_neg_mean_absolute_percentage_error']))

In [34]:
model_temp.coef_

array([-2.98143140e-02,  5.63455517e-02,  4.02289697e-02,  4.57733977e-02,
       -2.01314473e-01,  2.78258116e-01,  1.13063652e-01, -3.76669114e-02,
        5.54067044e-02, -4.25838450e-01,  7.76748014e-02,  1.97765599e-01,
        2.38415373e-01, -1.22770469e-01,  7.52752773e-01,  4.82342570e-01,
       -4.96022597e-02, -5.54577404e-03, -8.35780282e+00])

In [35]:
print('Average R2 score ',meanR2)
print('Median R2 score ',medianR2)
print('Average Root Mean Square Error ',meanRMSE)
print('Median Root Mean Square Error ',medianRMSE)
print('Average Mean Absolute Percentage Error ',meanMAPE)
print('Median Mean Absolute Percentage Error ',medianMAPE)

Average R2 score  0.9929186599424874
Median R2 score  0.9926713377413348
Average Root Mean Square Error  125.8856624362601
Median Root Mean Square Error  86.52542674679813
Average Mean Absolute Percentage Error  0.030520214850134435
Median Mean Absolute Percentage Error  0.031332371675639896

In [36]:
# err = mse(Y_pred,Y_test,squared=False)
# print(err)
# print(Y_test.mean())

In [37]:
# err2 = mape(Y_pred,Y_test)
# print(err2)

## Polynomial Regression

In [38]:
#polymodel = Pipeline([('poly', PolynomialFeatures(degree=3)),('linear', LinearRegression(fit_intercept=False))])

In [43]:
#X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

for _,degree in enumerate([1,2,3]):
    polymodel = make_pipeline(StandardScaler(),PolynomialFeatures(degree),Ridge(alpha=1e-3))
    scores = cross_validate(polymodel, X, Y, cv=10,scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_percentage_error'))
    print('-'*5)
    print('Polynomial Degree: '+str(degree))
    print('-'*5)
    meanR2 = np.absolute(scores['test_r2']).mean()
    medianR2 = np.median(np.absolute(scores['test_r2']))
    meanRMSE = np.absolute(scores['test_neg_root_mean_squared_error']).mean()
    medianRMSE = np.median(np.absolute(scores['test_neg_root_mean_squared_error']))
    meanMAPE = np.absolute(scores['test_neg_mean_absolute_percentage_error']).mean()
    medianMAPE = np.median(np.absolute(scores['test_neg_mean_absolute_percentage_error']))
    print('Average R2 score ',meanR2)
    print('Median R2 score ',medianR2)
    print('Average Root Mean Square Error ',meanRMSE)
    print('Median Root Mean Square Error ',medianRMSE)
    print('Average Mean Absolute Percentage Error ',meanMAPE)
    print('Median Mean Absolute Percentage Error ',medianMAPE)    
    print('-'*10)
# for count, degree in enumerate([2,3,4,5]):
#     model = make_pipeline(PolynomialFeatures(degree), scY, Ridge(alpha=1e-3))
#     model.fit(X_train, Y_train)
#     Y_pred = model.predict(X_test)
#     # err = mse(Y_pred,Y_test,squared=False)
#     err = mape(Y_pred,Y_test)
#     print("With degree of", degree, "the error is", err)

-----
Polynomial Degree: 1
-----
Average R2 score  0.9929192722442609
Median R2 score  0.9926728875649589
Average Root Mean Square Error  125.87885334202579
Median Root Mean Square Error  86.52427329323567
Average Mean Absolute Percentage Error  0.030519582384553073
Median Mean Absolute Percentage Error  0.031331335815745334
----------
-----
Polynomial Degree: 2
-----
Average R2 score  1.0687881831338841
Median R2 score  0.9663556709481932
Average Root Mean Square Error  820.243124062937
Median Root Mean Square Error  281.7875727274034
Average Mean Absolute Percentage Error  0.0264891197110304
Median Mean Absolute Percentage Error  0.025675480359539603
----------
-----
Polynomial Degree: 3
-----
Average R2 score  765.399208325224
Median R2 score  4.205986970353044
Average Root Mean Square Error  33571.71357109518
Median Root Mean Square Error  2176.3302312921687
Average Mean Absolute Percentage Error  0.09282514053253084
Median Mean Absolute Percentage Error  0.040044775350251326
----------