## Investigating the Zillow Housing Price Dataset

N. Ranjan & R. Mattson | CSCI 6430* | Mar 11, 2021

Total Runtime = 2mins

In [68]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import r2_score as r2score
from sklearn.preprocessing import StandardScaler
#from sklearn.metrics import mean_absolute_percentage_error as mape
#from sklearn.model_selection import StratifiedKFold
from sklearn.linear_model import Lasso,Ridge
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_validate
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import OneHotEncoder

import zipfile
import urllib

###  Retrieve Data and Prepare Dataset

In [69]:
# Download data
# https://drive.google.com/file/d/1ElIgZc8OTjxGcGsLHDfbTGPKLhknBqEV/view?usp=sharing

url = "https://docs.google.com/uc?export=download&id=1ElIgZc8OTjxGcGsLHDfbTGPKLhknBqEV"
urllib.request.urlretrieve(url, "Data.zip")
with zipfile.ZipFile('Data.zip', 'r') as zip_ref:
    zip_ref.extractall()
print("Retrieved Data")

Retrieved Data

In [70]:
#TODO - get from google docs?? - We should!
DF1B = pd.read_csv(r'data_minproj/City_MedianRentalPrice_1Bedroom.csv')
DF2B = pd.read_csv(r'data_minproj/City_MedianRentalPrice_2Bedroom.csv')
DF3B = pd.read_csv(r'data_minproj/City_MedianRentalPrice_3Bedroom.csv')
DF4B = pd.read_csv(r'data_minproj/City_MedianRentalPrice_4Bedroom.csv')

In [71]:
# remove columns with useless information - These were only indexes
DF1B.drop(columns=['SizeRank','Unnamed: 0'],inplace=True)
DF2B.drop(columns=['SizeRank','Unnamed: 0'],inplace=True)
DF3B.drop(columns=['SizeRank','Unnamed: 0'],inplace=True)
DF4B.drop(columns=['SizeRank','Unnamed: 0'],inplace=True)

In [72]:
# record the number of bedrooms within the frame
DF1B.insert(0, 'BedroomsSq', 1)
DF2B.insert(0, 'BedroomsSq', 2)
DF3B.insert(0, 'BedroomsSq', 3)
DF4B.insert(0, 'BedroomsSq', 4)
#BE CAREFUL WITH INSERTING BEDROOMS
insertBedrooms = np.where(DF1B.columns=='2010-02')[0][0] 
print(int(insertBedrooms))
DF1B.insert(int(insertBedrooms), 'Bedrooms', 1)
DF2B.insert(int(insertBedrooms), 'Bedrooms', 2)
DF3B.insert(int(insertBedrooms), 'Bedrooms', 3)
DF4B.insert(int(insertBedrooms), 'Bedrooms', 4)

5

In [73]:
frames = [DF1B,DF2B,DF3B,DF4B]
result = pd.concat(frames)
result = result.sample(frac=1) #Shuffle!
result = result.reset_index(drop=True) #Reset Index

In [74]:
result

,BedroomsSq,RegionName,State,Metro,CountyName,Bedrooms,2010-02,2010-03,2010-04,2010-05,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,3,Pasadena,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,3,NaN,NaN,NaN,NaN,...,3400.0,3367.5,3300.0,3399.5,3400.0,3425.0,3595.0,3500.0,3550.0,3600.0
1,1,Tulsa,OK,Tulsa,Tulsa County,1,NaN,NaN,NaN,NaN,...,635.0,675.0,695.0,705.0,790.0,765.0,775.0,765.0,778.0,815.0
2,2,Dallas,TX,Dallas-Fort Worth-Arlington,Dallas County,2,NaN,NaN,NaN,NaN,...,1830.0,1850.0,1850.0,1810.0,1816.0,1789.5,1759.0,1731.0,1702.5,1715.0
3,3,Tulsa,OK,Tulsa,Tulsa County,3,NaN,NaN,NaN,NaN,...,1050.0,995.0,990.0,1025.0,1032.5,1010.0,1049.5,1075.0,1100.0,995.0
4,1,Chelsea,MA,Boston-Cambridge-Newton,Suffolk County,1,NaN,NaN,NaN,NaN,...,1971.0,2097.5,2150.0,2198.0,2106.5,2076.0,2050.0,2010.0,2000.0,2000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3384,1,Port Orange,FL,Deltona-Daytona Beach-Ormond Beach,Volusia County,1,NaN,NaN,NaN,NaN,...,1100.0,1135.0,1154.5,1214.0,1132.0,1126.5,1100.0,1285.0,1285.0,1315.0
3385,3,Oshkosh,WI,Oshkosh-Neenah,Winnebago County,3,NaN,NaN,NaN,NaN,...,1000.0,1000.0,1000.0,1000.0,975.0,900.0,987.5,985.0,900.0,900.0
3386,3,Loveland,CO,Fort Collins,Larimer County,3,NaN,NaN,NaN,NaN,...,1750.0,1744.5,1750.0,1750.0,1785.0,1750.0,1795.0,1750.0,1762.5,1795.0
3387,1,Eden Prairie,MN,Minneapolis-St. Paul-Bloomington,Hennepin County,1,NaN,NaN,NaN,NaN,...,1514.0,1498.0,1515.0,1578.0,1535.0,1505.0,1470.0,1465.0,1468.0,1342.0
3388,2,Key Biscayne,FL,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,2,NaN,NaN,NaN,NaN,...,4200.0,4200.0,4400.0,4400.0,4500.0,4500.0,4500.0,4475.0,4400.0,4400.0

In [75]:
result.to_csv(r'data_minproj/City_MedianRentalPrice_AllHomes_ALTERED.csv')

In [76]:
del DF1B,DF2B,DF3B,DF4B
del result,frames
#Just saving memory, let's continue with our final dataset

### Preproccess Data

In [77]:
DF = pd.read_csv(r'data_minproj/City_MedianRentalPrice_AllHomes_ALTERED.csv',index_col=0)
# TrainDF = DF.iloc[:,:-1].copy() # Rest of the columns come here as training data
# TestDF = DF.iloc[:,-1].copy()   # We predicting the last column
# del DF

In [78]:
ST = DF['State'].value_counts()
ST

CA    564
FL    426
TX    248
GA    167
VA    146
MA    135
WA    124
IL    103
MD    102
NJ     98
CO     82
CT     79
NC     79
OH     76
MI     75
NY     74
PA     70
MN     52
SC     52
MO     49
IN     46
OR     43
UT     37
AZ     35
KS     35
IA     32
OK     29
LA     27
TN     26
WI     23
RI     21
HI     20
NV     20
AL     18
KY     17
ID     17
NM     16
MS     15
ND     14
AR     14
MT     13
DE     13
NE     12
WV     10
AK      8
NH      6
SD      6
DC      4
ME      4
WY      4
VT      3
Name: State, dtype: int64

In [79]:
lb=LabelEncoder()
lb.fit(DF['State'])

LabelEncoder()

In [80]:

RecordAnalysisDF = pd.DataFrame(columns=['RunNumber','Title','Algorithm','R2Mean','R2Median','RMSEMean','RMSEMedian']) #Will save results for later. You can keep running code below it and each time validation is run, results will be added here.
runNo = 1

In [81]:
isBedStateOptimized = True #Leave this as True.
cut_off = 0.25 # if number of nulls > 25%, just remove the column.
#We got lucky here as the null values always increased the further we go in the past

In [82]:
row_count = DF.index.size
NullCountDF = pd.DataFrame({'Null_Count':DF.isnull().sum().to_numpy(),'Col_Name':DF.columns.to_numpy()})
colsToKeep = NullCountDF[NullCountDF.Null_Count<=row_count*cut_off].Col_Name.to_numpy() #columns to keep,rest have too many nulls
DF = DF[colsToKeep].copy() 
print(DF.isnull().sum().to_numpy())
print(colsToKeep)

[  0   0   0   0   0   0 829 800 771 741 695 621 571 510 465 412 361 306
 249 209 144 107  60   0   0   0   0   0   0   0   0   0   0   0   0]
['BedroomsSq' 'RegionName' 'State' 'Metro' 'CountyName' 'Bedrooms'
 '2017-08' '2017-09' '2017-10' '2017-11' '2017-12' '2018-01' '2018-02'
 '2018-03' '2018-04' '2018-05' '2018-06' '2018-07' '2018-08' '2018-09'
 '2018-10' '2018-11' '2018-12' '2019-01' '2019-02' '2019-03' '2019-04'
 '2019-05' '2019-06' '2019-07' '2019-08' '2019-09' '2019-10' '2019-11'
 '2019-12']

In [83]:
#Removing Nulls
def RemoveNulls(TheDF):
   print('Removing Nulls...')
   for col in TheDF.columns:
      for x in TheDF[TheDF[col].isnull()].index: #Going through all columns
         beds = TheDF.loc[x]['Bedrooms']
         state = TheDF.loc[x]['State']
         #print)
         if(isBedStateOptimized == True):
            valFill = TheDF[(TheDF['Bedrooms'] == beds) & (TheDF['State']==state)][col] #Bedroom and state
            if np.all(np.isnan(valFill)):
               valFill = TheDF[(TheDF['Bedrooms'] == beds)][col] #Check if we can do only with bedroom as this is more correlated than state
            if np.all(np.isnan(valFill)):
               valFill = TheDF[(TheDF['State'] == beds)][col] #If only bedrooms didnt work, try with State
            if np.all(np.isnan(valFill)):
               valFill =TheDF[col] #If we get null for those too..just take median of whole column
            valFill = np.nanmedian(valFill)
            TheDF.loc[x,col] = valFill
         else:
            valFill =TheDF[col]
            valFill = np.nanmedian(valFill)
            TheDF.loc[x,col] = valFill
   print('Nulls Removed.')

In [84]:
RemoveNulls(DF)

Removing Nulls...
Nulls Removed.

In [85]:
DF

,BedroomsSq,RegionName,State,Metro,CountyName,Bedrooms,2017-08,2017-09,2017-10,2017-11,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,3,Pasadena,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,3,3325.0,3235.0,3300.0,3200.00,...,3400.0,3367.5,3300.0,3399.5,3400.0,3425.0,3595.0,3500.0,3550.0,3600.0
1,1,Tulsa,OK,Tulsa,Tulsa County,1,631.0,625.0,590.0,595.00,...,635.0,675.0,695.0,705.0,790.0,765.0,775.0,765.0,778.0,815.0
2,2,Dallas,TX,Dallas-Fort Worth-Arlington,Dallas County,2,1845.0,1795.0,1753.0,1786.00,...,1830.0,1850.0,1850.0,1810.0,1816.0,1789.5,1759.0,1731.0,1702.5,1715.0
3,3,Tulsa,OK,Tulsa,Tulsa County,3,937.5,925.0,925.0,975.00,...,1050.0,995.0,990.0,1025.0,1032.5,1010.0,1049.5,1075.0,1100.0,995.0
4,1,Chelsea,MA,Boston-Cambridge-Newton,Suffolk County,1,1784.5,1903.0,1787.5,1745.00,...,1971.0,2097.5,2150.0,2198.0,2106.5,2076.0,2050.0,2010.0,2000.0,2000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3384,1,Port Orange,FL,Deltona-Daytona Beach-Ormond Beach,Volusia County,1,1299.0,1276.5,1240.5,1235.75,...,1100.0,1135.0,1154.5,1214.0,1132.0,1126.5,1100.0,1285.0,1285.0,1315.0
3385,3,Oshkosh,WI,Oshkosh-Neenah,Winnebago County,3,1200.0,1195.0,1247.5,1200.00,...,1000.0,1000.0,1000.0,1000.0,975.0,900.0,987.5,985.0,900.0,900.0
3386,3,Loveland,CO,Fort Collins,Larimer County,3,1595.0,1662.5,1645.0,1600.00,...,1750.0,1744.5,1750.0,1750.0,1785.0,1750.0,1795.0,1750.0,1762.5,1795.0
3387,1,Eden Prairie,MN,Minneapolis-St. Paul-Bloomington,Hennepin County,1,1270.0,1155.0,1130.0,1127.50,...,1514.0,1498.0,1515.0,1578.0,1535.0,1505.0,1470.0,1465.0,1468.0,1342.0
3388,2,Key Biscayne,FL,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,2,4100.0,4000.0,4100.0,4100.00,...,4200.0,4200.0,4400.0,4400.0,4500.0,4500.0,4500.0,4475.0,4400.0,4400.0

In [86]:
#Assumed Last Column is Target, it should return Xtrain,Ytrain,Xtest,Ytest
def ChangeDataSetForTimeSeries(TheDF):
    """
    Uses a sliding window mechanism to convert a dataset into a timeseries model.
    With T=10, we look at past 10 months data to predict the 11th month throughout the available     history of the dataset.
    """
    posOfFirstDate = np.where(TheDF.columns=='Bedrooms')[0][0] + 1
    FirstDate = TheDF.columns[posOfFirstDate]
    T = 10
    Startindex = np.where(TheDF.columns==FirstDate)[0][0]
    #print(TheDF.columns[Startindex])
    TrainEndindex = TheDF.columns.size-3
    #ValidationEndindex = TheDF.columns.size-3
    TestEndindex = TheDF.columns.size-2
    #print(TheDF.columns[TrainEndindex])
    size = TrainEndindex - Startindex + 1
    colListTrain = TheDF.columns[0:Startindex].tolist()
    for i in range(T):
        colListTrain.append('T'+str(i))
    TrainDFX = pd.DataFrame(columns=colListTrain[:-1])
    TrainDFY = pd.DataFrame(columns=['T'+str(T)])
    #print(colListTrain,len(colListTrain))
    #Make Train-------------------------------
    X_Arr = []
    Y_Arr = []
    for i in range(len(TheDF.index)): #Row Iteration
        if(i%25==0):
            print('\r', 'Iteration', i+1, ' / Rows:', len(TheDF.index), end='')
        initdataToInsert = TheDF.iloc[i,0:Startindex].to_numpy().tolist() #All our categorical data
        #print('-')
        #print(initdataToInsert)
        #print('-')
        for t in range(Startindex,TrainEndindex + 1 - T):
            x = TheDF.iloc[i,t:t+T].to_numpy().tolist()
            #print(x)
            #x = np.concatenate((initdataToInsert,x))
            X_Arr.extend(initdataToInsert)
            X_Arr.extend(x)
            y = TheDF.iloc[i,t+T]
            Y_Arr.append(y)
            #return X_Arr,Y_Arr
        #--------Inefficient Garbage----------------
        # X_Arr = np.array(X_Arr).reshape(-1,len(colListTrain))
        # Y_Arr = np.array(Y_Arr).reshape(-1,1)
        
        # X_Arr = pd.DataFrame(X_Arr,columns=colListTrain).to_dict()
        # Y_Arr = pd.DataFrame(Y_Arr,columns=['T10'])
        # #print(X_Arr)
        # TrainDFX = TrainDFX.append(X_Arr,ignore_index=True) #TOO SLOW IN A LOOP
        # TrainDFY = TrainDFY.append(Y_Arr,ignore_index=True)
        #break
        #return TrainDFX,TrainDFY
        #for ind in ():
            #print(X)
            #FinalDFX.loc[ind] = X[:,ind]
            #FinalDFY.loc[ind] = Y.reshape(-1,1)
            #break
        #break   
        # --------------------------    
    print('\r', 'Iteration', i+1, ' / Rows:', len(TheDF.index), end='') #Handy loading msg
    X_Arr = np.array(X_Arr).reshape(-1,len(colListTrain)) #We had appended data in a single dimension array, time to get it back to a table form. (Unflatten)
    Y_Arr = np.array(Y_Arr).reshape(-1,1)
    
    X_Arr = pd.DataFrame(X_Arr,columns=colListTrain)
    Y_Arr = pd.DataFrame(Y_Arr,columns=['T10'])
    #print(X_Arr)
    TrainDFX = TrainDFX.append(X_Arr,ignore_index=True)
    TrainDFY = TrainDFY.append(Y_Arr,ignore_index=True)
    #Training Sets Done!!!!!
    testColNames = TheDF.columns[0:Startindex].to_numpy().tolist()
    #valColData = TheDF.columns[0:Startindex].to_numpy().tolist()
    testColData = TheDF.columns[0:Startindex].to_numpy().tolist()
    for i in range(T):
        testColNames.append('T'+str(i))
        #valColData.extend([TheDF.columns[ValidationEndindex-T+i+1]])
        testColData.extend([TheDF.columns[TestEndindex-T+i+1]])
    #Get Data for Testing.
    print('----')
    #print(valColData,testColData)
    #ValDFX = TheDF[valColData].copy()
    #ValDFX.columns = valAndTestColNames
    #ValDFY = TheDF.iloc[:,ValidationEndindex+1].copy()
    #ValDFY.columns = 'T'+str(T)
    # ValidationEndindex
    TestDFX = TheDF[testColData].copy()
    TestDFX.columns = testColNames
    TestDFY = TheDF.iloc[:,TestEndindex+1].copy()
    TestDFY.columns = 'T'+str(T)
    #return TrainDFX,TrainDFY,ValDFX,ValDFY,TestDFX,TestDFY
    return TrainDFX,TrainDFY,TestDFX,TestDFY
    pass

In [87]:
TrainDFX,TrainDFY,TestDFX,TestDFY = ChangeDataSetForTimeSeries(DF) #Finally, got train and testing data

 Iteration 3389  / Rows: 3389----

In [88]:
TrainDFX

,BedroomsSq,RegionName,State,Metro,CountyName,Bedrooms,T0,T1,T2,T3,T4,T5,T6,T7,T8,T9
0,3,Pasadena,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,3,3325.0,3235.0,3300.0,3200.0,3400.0,3200.0,3000.0,3175.0,3500.0,3500.0
1,3,Pasadena,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,3,3235.0,3300.0,3200.0,3400.0,3200.0,3000.0,3175.0,3500.0,3500.0,3522.5
2,3,Pasadena,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,3,3300.0,3200.0,3400.0,3200.0,3000.0,3175.0,3500.0,3500.0,3522.5,3440.0
3,3,Pasadena,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,3,3200.0,3400.0,3200.0,3000.0,3175.0,3500.0,3500.0,3522.5,3440.0,3500.0
4,3,Pasadena,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,3,3400.0,3200.0,3000.0,3175.0,3500.0,3500.0,3522.5,3440.0,3500.0,3272.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57608,2,Key Biscayne,FL,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,2,4500.0,4500.0,4400.0,4375.0,4300.0,4200.0,4145.0,4200.0,4200.0,4400.0
57609,2,Key Biscayne,FL,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,2,4500.0,4400.0,4375.0,4300.0,4200.0,4145.0,4200.0,4200.0,4400.0,4400.0
57610,2,Key Biscayne,FL,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,2,4400.0,4375.0,4300.0,4200.0,4145.0,4200.0,4200.0,4400.0,4400.0,4500.0
57611,2,Key Biscayne,FL,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,2,4375.0,4300.0,4200.0,4145.0,4200.0,4200.0,4400.0,4400.0,4500.0,4500.0
57612,2,Key Biscayne,FL,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,2,4300.0,4200.0,4145.0,4200.0,4200.0,4400.0,4400.0,4500.0,4500.0,4500.0

In [89]:
del DF #Save memory, also makes sure that i dont accidentally use this dataframe

In [90]:
#lb = LabelEncoder()

In [91]:
#Found out Bedroom was more correlated than these and then on 2nd place is State
# TrainDF['RegionName'] = lb.fit_transform(TrainDF['RegionName'])
# TrainDF['State'] = lb.fit_transform(TrainDF['State'])
# TrainDF['Metro'] = lb.fit_transform(TrainDF['Metro'])
# TrainDF['CountyName'] = lb.fit_transform(TrainDF['CountyName'])
#TrainDF['State'] = lb.fit_transform(TrainDF['State'])

In [92]:
#TrainDF.corr()

In [93]:
#Pass by Value Reference Magic!
def AddStateSparseMatrix(TrainingDF):
   """
   We are taking the State column and replacing it with 51 columns, (50 US states + DC).
   """
   enc = OneHotEncoder(handle_unknown='ignore',sparse = False)
   SM = enc.fit_transform(TrainingDF['State'].to_numpy().reshape(-1,1)) #Got it!
   for ind,cat in zip(range(0,len(enc.categories_[0])),enc.categories_[0]):
      TrainingDF.insert(0,'is'+str(cat),SM[:,ind]) # Inserted column names are isAK, isAL, isDC..etc. And it will contain 0 if that is not the state and 1 if that is the state
   TrainingDF.drop(columns=['State'],inplace=True)

### Run Models

In [94]:
def RunAllModels(TrainDF,Output,title):
    """
    Trains and validates data on multiple models
    """
    global runNo
    global RecordAnalysisDF
    global isBedStateOptimized
    def PrintMetrics(scores,algo):
        """
        Internal Function
        Used to print on console, nothing fancy here.
        """
        global RecordAnalysisDF
        print('-'*5)
        meanR2 = np.absolute(scores['test_r2']).mean()
        medianR2 = np.median(np.absolute(scores['test_r2']))
        meanRMSE = np.absolute(scores['test_neg_root_mean_squared_error']).mean()
        medianRMSE = np.median(np.absolute(scores['test_neg_root_mean_squared_error']))
        meanMAPE = np.absolute(scores['test_neg_mean_absolute_percentage_error']).mean()
        medianMAPE = np.median(np.absolute(scores['test_neg_mean_absolute_percentage_error']))
        print('Average R2 score ', meanR2)
        print('Median R2 score ', medianR2)
        print('Average Root Mean Square Error ', meanRMSE)
        print('Median Root Mean Square Error ', medianRMSE)
        print('-'*5)
        if(isBedStateOptimized==False):
            algo = algo + ' Nulls removed with complete column'
        RecordAnalysisDF = RecordAnalysisDF.append({'RunNumber':runNo,'Title':title,'Algorithm':algo,'R2Mean':meanR2,'R2Median':medianR2,'RMSEMean':meanRMSE,'RMSEMedian':medianRMSE},ignore_index=True)
        #print('Average Mean Absolute Percentage Error ', meanMAPE)
        #print('Median Mean Absolute Percentage Error ', medianMAPE)
    #-----------------------Linear Regression---------------------------------------------
    print(title)
    print('-'*10)
    print('Linear Regression')
    model = make_pipeline(StandardScaler(),LinearRegression())
    # Y_pred = model.predict(X_test)
    # Y_pred = scY.inverse_transform(Y_pred)
    # Y_test = scY.inverse_transform(Y_test)
    scores = cross_validate(model, TrainDF, Output, cv=15,scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_percentage_error'))
    PrintMetrics(scores,'Linear Regression')#,meanMAPE,medianMAPE)
    #----------------------------Polynomial Lasso amd Ridge-------------------------
    for _,degree in enumerate([1]): #Couldn't do enumerate([1,2]) please do it if you have 10-15mins to spare and a powerful system. Tried it a few times, got bad scores so we decided to not do it.
        polymodel = make_pipeline(StandardScaler(),PolynomialFeatures(degree),Lasso(alpha=1e-2,max_iter=1e+6,tol=1e-2))
        scores = cross_validate(polymodel, TrainDF, Output, cv=15,scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_percentage_error'))
        print('Polynomial Degree with Lasso: '+str(degree))
        PrintMetrics(scores,'Lasso Degree ' + str(degree))

        polymodel = make_pipeline(StandardScaler(),PolynomialFeatures(degree),Ridge(alpha=1e-3,max_iter=1e+6))
        scores = cross_validate(polymodel, TrainDF, Output, cv=15,scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_percentage_error'))
        print('Polynomial Degree with Ridge: '+str(degree))
        PrintMetrics(scores,'Ridge Degree ' + str(degree))
    #----------------------------DecisionTreeRegressor---------------------------------------
    model = make_pipeline(StandardScaler(),DecisionTreeRegressor(max_depth=100))
    scores = cross_validate(model, TrainDF, Output, cv=15,scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_percentage_error'))
    print('DecisionTreeRegressor')
    PrintMetrics(scores,'DecisionTreeRegressor')
    runNo = runNo + 1
    print('-'*5)
    print('-'*15)

### Method 1: Drop all the Categorical columns

In [95]:
FinalTrainDF = TrainDFX.drop(columns=['RegionName', 'Metro', 'CountyName'])
# RemoveNulls(FinalTrainDF,True)
FinalTrainDF.drop(columns=['State'],inplace=True)
RunAllModels(FinalTrainDF,TrainDFY,'Dropped Categorical Data')

Dropped Categorical Data
----------
Linear Regression
-----
Average R2 score  0.9730974811261773
Median R2 score  0.992374082788784
Average Root Mean Square Error  162.2488804564787
Median Root Mean Square Error  134.4574906924478
-----
Polynomial Degree with Lasso: 1
-----
Average R2 score  0.9600462284755336
Median R2 score  0.9909910587335871
Average Root Mean Square Error  185.2965302060838
Median Root Mean Square Error  144.84875111565083
-----
Polynomial Degree with Ridge: 1
-----
Average R2 score  0.9730974677084444
Median R2 score  0.9923740829622943
Average Root Mean Square Error  162.24887176933984
Median Root Mean Square Error  134.45745400364285
-----
DecisionTreeRegressor
-----
Average R2 score  0.9493365336475993
Median R2 score  0.9778266650027801
Average Root Mean Square Error  269.3201892413738
Median Root Mean Square Error  262.6280585089952
-----
-----
---------------

### Method2: Next, Let's change States to a sparse matrix and then to 51 columns, 1 for each State. Lets drop the other categorical columns

In [ ]:
FinalTrainDF = TrainDFX.drop(columns=['RegionName', 'Metro', 'CountyName'])
#RemoveNulls(FinalTrainDF,True)
AddStateSparseMatrix(FinalTrainDF)
#FinalTrainDF.drop(columns=['State'],inplace=True)
RunAllModels(FinalTrainDF,TrainDFY,'One Hot Encoded State,Removed Others')
#FinalTrainDF

One Hot Encoded State,Removed Others
----------
Linear Regression
-----
Average R2 score  0.9731267266642429
Median R2 score  0.9923985766868568
Average Root Mean Square Error  162.19838304617844
Median Root Mean Square Error  134.21129925399748
-----
Polynomial Degree with Lasso: 1
-----
Average R2 score  0.9600347989644227
Median R2 score  0.9910198772510753
Average Root Mean Square Error  185.35296546639927
Median Root Mean Square Error  145.13844416632102
-----
Polynomial Degree with Ridge: 1
-----
Average R2 score  0.9731291586093312
Median R2 score  0.9923987343667369
Average Root Mean Square Error  162.19331667739908
Median Root Mean Square Error  134.2119954513285
-----

In [ ]:
RecordAnalysisDF

In [ ]:
RecordAnalysisDF.index +=1

In [ ]:
RecordAnalysisDF.to_csv('RecordAnalysis.csv',index_label='S.No.') # Save to csv for analysis

In [ ]:
#After Analyzing this CSV File (Copy of the table is in the report), we found that "One Hot Encoded State,Removed Others - NAN removed with column with Linear Regression" had the least R2Mean and RMSE Median. So, it had performed best in the 2/4 metrics we considered. Hence, we decided to go ahead with it.

### Testing

In [ ]:
#One Hot Encoded State,Removed Others	Linear Regression
FinalTrainDF = TrainDFX.drop(columns=['RegionName', 'Metro', 'CountyName'])
#RemoveNulls(FinalTrainDF,True)
AddStateSparseMatrix(FinalTrainDF)
FinalTestDF = TestDFX.drop(columns=['RegionName', 'Metro', 'CountyName'])
#FinalTrainDF[ValDF.name] = ValDF
#RemoveNulls(FinalTrainDF,False)
AddStateSparseMatrix(FinalTestDF)
#FinalTrainDF.drop(columns=['State'],inplace=True)

In [ ]:
model = LinearRegression()
hist = model.fit(FinalTrainDF,TrainDFY)
YPred = model.predict(FinalTestDF)

In [ ]:
R2Score = r2score(TestDFY,YPred)
RMSE = mse(TestDFY,YPred,squared=False)
print('R2 score ', R2Score)
print('Root Mean Square Error ', RMSE)
print('Average of Output ',TestDFY.mean())

In [ ]:
for bed in range(1,5):
    filterArr = (FinalTestDF['Bedrooms'] == bed)
    #print(filterArr)
    print('For '+ str(bed) +' bedrooms')
    print('-'*3)
    R2Score = r2score(TestDFY[filterArr],YPred[filterArr])
    RMSE = mse(TestDFY[filterArr],YPred[filterArr],squared=False)
    print('R2 score ', R2Score)
    print('Root Mean Square Error ', RMSE)
    print('Average of '+ str(bed) +' Bedroom Cost ',TestDFY[filterArr].mean())
    print('Number of Houses ',len(TestDFY[filterArr].index))
    print('-'*10)